.header {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border: 5px;
  border-color: blue;
  border-style: groove;
  padding-bottom: 5px;
  background-color: azure;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 40px;
  font-style: italic;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: lighter;
}


.content {
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar {
  align-items: center;
  flex-direction: column;
  border: 5px;
  border-style: groove;
  border-color: blue;
  justify-content: space-around;
  height: 600px;
  background-color: #fdfccb;

}

#main {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 33% 33% 33%;
  background-color: #ffedeb;
  border: 2px;
  border-style: groove;
  border-color: black;
  justify-content: center;
  align-content: center;
}

#special_main {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  background-color: #ffedeb;
  border: 2px;
  border-style: groove;
  border-color: black;
  justify-content: center;
  align-content: center;
}

#Starter {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffedeb;
  border: 2px;
  border-style: groove;
  border-color: black;
}

#view_main {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #ffedeb;
  border: 2px;
  border-style: groove;
  border-color: black;
}

#match_body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  background-color: #ffedeb;
  border: 2px;
  border-style: groove;
  border-color: black;
  justify-content: center;
  align-content: center;
}


.grid {
  border: 3px;
  border-style: inset;
  border-color: #372fc0;
  justify-self: center;
  align-self: center;
  align-content: center;
  height: 200px;
  width: 200px;

}

#gridstart {
  border: 3px;
  border-style: inset;
  border-color: #372fc0;
  justify-self: center;
  align-self: center;
  align-content: center;
  height: 200px;
  width: 200px;
  grid-row-start: 2;
}

button {
  background-color: blue;
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#match_main {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20%;
  justify-content: center;
  align-content: center;

}

.match {
  border: 3px;
  border-style: inset;
  border-color: #372fc0;
  justify-self: center;
  align-self: center;
  height: 100px;
  width: 100px;
}

#view_text {
  display: flex;
  flex-flow: column;
  justify-items: center;

}

.generation {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 33%;
  border: 2px;
  border-style: groove;
  border-color: black;
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
}

#gen1 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.txt {

  column-span: all;
  column-width: 500px;
}

body {
  background-image: url("../images/pokeball.jpg");
  background-repeat: repeat;
}


.loader {
  border: 4px solid rgb(255, 255, 255);
  border-top: 4px solid #ff0000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}